<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/assets/img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/assets/img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/assets/img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/assets/img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/assets/img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/assets/img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="~/assets/img/logo.png" alt=""></a>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.
                    </p>
                    <div class="footer__payment">
                        <a href="#"><img src="~/assets/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="~/assets/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="~/assets/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="~/assets/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="~/assets/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model">
    <div class="h-50 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" id="form-search-top" name="form-search-top" action="#" autocomplete="off">
            <input type="text" id="key" name="search" value="" placeholder="Search here.....">
            <button form="form-search-top" type="button" onclick="location.href='/Search/SearchName?key='+document.getElementById('key').value;"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <div class="sub-search-form">
            <ul>
                <li><a><img src="http://localhost:5020/Upload/Products/133196273398997130_tools_equipment_8.jpg" />Sp1 </a></li>
            </ul>
        </div>
        <style type="text/css">
            .search-model-form > button{
                color: #999;
                background-color: white;
                border: none;
                padding: 0px 30px;
                font-size: 30px;
            } 
            .sub-search-form {
                position: absolute;
                width: 600px;
                background: white;
                z-index: 5;
                height: 300px;
                overflow: scroll;
                display: none;
                top: 250px;
                
            }
                .sub-search-form img {
                    width: 70px;
                    margin-right: 20px;
                }
                .sub-search-form ul {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                    text-align: left;
                }
                    .sub-search-form ul li:not(:first-child)  {
                        border-top: 1px solid #dddddd;
                    }
                        .sub-search-form ul li a {
                            color: #999;
                        }
        </style>
        @*Load thu vien jquery*@
        <script src="https://code.jquery.com/jquery-3.6.3.js"
                integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
                crossorigin="anonymous"></script>
        <script language="javascript">
            //---
            @* muon thuc hien tim kiem bang ajax thi phai load thu vien jquery vao trang. De kiem tra xem trang da co thu vien jquery chua thi phai thuc hien theo cach sau *@
                //$(document).ready(function() { alert("Thư viện jquery đã load vào trang"); });
                $(document).ready(function () {
                    $("#key").keyup(function () {
                        //lay gia tri cua textbox co id=key
                        var key = $("#key").val();
                        if (key != "") {
                            //hien thi khoi smart-search-list
                            $(".sub-search-form").attr("style", "display:block;");
                            //ajax get
                            $.get("/Search/Ajax?key=" + key, function (result) {
                                //lam rong danh sach cac the li
                                $(".sub-search-form ul").empty();
                                //them ket qua vao the li
                                $(".sub-search-form ul").append(result);
                            });
                        } else {
                            $(".sub-search-form").attr("style", "display:none;");
                        }
                    });
                });
        </script>
    </div>
</div>
<!-- Search End -->