@using Project.Models
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Home"><i class="fa fa-home"></i> Home</a>
                    <span>Contact</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>Contact info</h5>
                        <ul>
                            <li>
                                <h6><i class="fa fa-map-marker"></i> Address</h6>
                                <p>3 Cau Giay, Lang Thuong, Dong Da, Ha Noi</p>
                            </li>
                            <li>
                                <h6><i class="fa fa-phone"></i> Phone</h6>
                                <p><span>125-711-811</span><span>125-668-886</span></p>
                            </li>
                            <li>
                                <h6><i class="fa fa-headphones"></i> Support</h6>
                                <p>anjapan12345@gmail.com</p>
                            </li>
                        </ul>
                    </div>                    
                    <div class="contact__form">
                        <h5>SEND MESSAGE</h5>
                        @using (Html.BeginForm("SendMail", "Contact", FormMethod.Post)){
                        <form method="post">
                            @if (!String.IsNullOrEmpty(Context.Session.GetString("customer_email")))
						    {
                                @*<input type="text" placeholder="@Context.Session.GetString("customer_email")">*@
                                <input type="text" id="email" value="@ViewBag.email" disabled>
                                <input type="text" id="name" value="@ViewBag.name" disabled>
                                <input type="text" id="phone" value="@ViewBag.phone" disabled>
                                <textarea id="mess" name="mess" placeholder="Message"></textarea>
                                <button type="submit" onclick="displayAlert()" class="site-btn">Send Message</button>                                 
                            }
                            else
                            {
                                <input type="text" value="Email" disabled>
                                <input type="text" value="Name" disabled>
                                <input type="text" value="Phone" disabled>
                                @*<h5 style="padding-left: 20px; color: chocolate; font-size: 10px; background-color: #999;">Dang nhap de lien he voi chung toi</h5>*@
                                <button class="site-btn"> <a style="color:#fff; font-size: 14px;" href="/Account/Login">Sign in to send us a message</a></button>
                            }
                            
                           
                            @*<textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn">Send Message</button>*@
                        </form>
                        }

                    </div>
                    
                                           
                </div>
            </div>
             <script>
                 function displayAlert(){
                     Swal.fire(
                        'Thanks for contacting us!',
                        'You clicked the button!',
                        'success'
                        )
                    }
             </script>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <div id='map' style='width: 100%; height: 780px;'>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    mapboxgl.accessToken =
        'pk.eyJ1IjoicXVvb2NraGFuaGgiLCJhIjoiY2xmcDZxOGR1MTJyZTQycXpzMzZlaTM1NyJ9.px7Lz7IgXHW0Q2jQp2cMew';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [105.803103, 21.027770], 
        zoom: 15

    });
    var marker = new mapboxgl.Marker({
        color: "red", 
        draggable: true,
        anchor: 'bottom', 
    }).setLngLat([105.80275, 21.02823]) 
        .addTo(map);

    map.addControl(
        new MapboxDirections({
            accessToken: mapboxgl.accessToken
        }),
        'top-left'
    );

    map.addControl(new mapboxgl.FullscreenControl({ container: document.querySelector('body') }));
        map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true,
        showUserHeading: true
    }));

    const nav = new mapboxgl.NavigationControl();
    map.addControl(nav, 'top-left');
</script>
<!-- Contact Section End -->

