@{
    //load file Layout.cshtml
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@*
    -Neu Model la kieu List thi tac dong len cot se co dang : Model.Tencot
    -Neu la kieu dataRow thi tac dong len cot co kieu Model["tencot"]

*@
@using Project.Models
@functions{
    public MyDbContext db = new MyDbContext();
    public List<ItemCategory> Categories(int _CurrentItemId)
    {
        List<ItemCategory> list_record = db.Categories.Where(item => item.ParentId == 0 && item.Id != _CurrentItemId).OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Project</h2>
                </div>
            </div>
        </div>
            <form method="post" action="@ViewBag.action">
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-10">
                        <input type="text" value="@if(Model != null){
                        <text>@Model["Name"]</text>
                        }" name="name" class="form-control" required>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Parent</div>
                    <div class="col-md-10">
                        <select class="form-control" name="parent_id" style="width: 300px">
                            <option value="0">
                            </option>
                            @{
                                int _CurrentId = 0;
                                if (Model != null)                              
                                    _CurrentId = Convert.ToInt32(Model["Id"]);                            
                                List<ItemCategory> list_categories = Categories(_CurrentId);
                              }
                                @foreach(ItemCategory item in list_categories)
                                {
                                    <option @if(Model != null && Convert.ToInt32(Model["ParentId"])==item.Id){<text>selected</text>} value="@item.Id">@item.Name</option>
                                }
                            

                        </select>
                        
                    </div>
                </div>
                <!-- end rows -->
                
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <input type="submit" value="Process" class="btn btn-primary">
                    </div>
                </div>
                <!-- end rows -->
            </form>
        </div>
    </div>


