@{
    //load file Layout.cshtml
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@*De phan trang thi using cac doi tuong sau*@
@using X.PagedList
@using X.PagedList.Mvc.Core

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Tags</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div style="margin: 10px 0px 0px 35px;">
                        <a href="/Admin/Tags/Create" class="btn btn-primary">Add tag</a>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive-sm">
                                    <table class="table table-striped projects">

                                        <tr>
                                            <th style="width:300px;">Name</th>
                                            <th></th>
                                            <th style="width:80px;"></th>
                                            <th style="width:80px; "></th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                        <td style="text-align: left">@item.Name</td>
                                        <td></td>
                                        <td style="text-align:center;">
                                             <a class="btn btn-danger" href="/Admin/Tags/Update/@item.Id">Edit</a>

                                        </td>
                                        <td style="text-align:center;">

                                             <a class="btn btn-secondary" href="/Admin/Tags/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                                        </td>
                                    </tr>

                                        }
                                    </table>

                                </div>
                            </div>
                        </div>
                        @Html.PagedListPager((IPagedList)Model,p=>Url.Action("Index", new {page = p}))
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>

    </div>

</div>
<style>
    .pagination {
        margin-top: 20px;
    }

       .pagination li {
            display: inline-block;
            height: 40px;
            width: 40px;
            border: 1px solid #f2f2f2;
            border-radius: 50%;
            font-size: 14px;
            color: chocolate;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
            transition: all, 0.3s;
            margin-right: 6px;
            font-weight: 600;
        }

        .pagination li:hover {
            background: #111111;
            border-color: #f2f2f2;
            color: #f2f2f2;
        }
</style>