@{
    //load file Layout.cshtml
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Project</h2>
                </div>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data" action="@ViewBag.action">
            <!-- rows -->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2">Name</div>
                <div class="col-md-10">
                    <input type="text" value="@if(Model != null){
                    <text>@Model.Name</text>
                    }" name="name" class="form-control" required>
                </div>
            </div>
            <!-- end rows -->

            <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Position</div>
                    <div class="col-md-10">
                        <select name="Position" class="form-control" style="width:250px;">
                            <option @if (Model != null && Model.Position == 1) { <text> selected</text> } value="1">Trái (Dưới slide show)</option>
                            <option @if (Model != null && Model.Position == 2) { <text> selected</text> } value="2">Phải (Dưới slide show)</option>
                            <option @if (Model != null && Model.Position == 3) { <text> selected</text> } value="3">Trang sản phẩm - Banner</option>
                            <option @if (Model != null && Model.Position == 4) { <text> selected</text> } value="4">Trang sản phẩm - Dưới TAG</option>
                            <option @if (Model != null && Model.Position == 5) { <text> selected</text> } value="5">Trang sản phẩm - Dưới Popular products</option>
                        </select>
                    </div>
                </div>
            <!-- end rows -->
            <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Photo</div>
                    <div class="col-md-10">
                        <input type="file" name="Photo" />
                    </div>
                </div>
                <!-- end rows -->

            <!-- rows -->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <input type="submit" value="Process" class="btn btn-primary">
                </div>
            </div>
            <!-- end rows -->
        </form>
    </div>
</div>


