@using Project.Models
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@functions {
    public MyDbContext db = new MyDbContext();

    public List<ItemOrders> ListOrder(int _id)
    {
        _id = ViewBag.id;
        List<ItemOrders> list_order = db.Orders.Where(item => item.CustomerId == _id).OrderByDescending(item=>item.Id).Take(5).ToList();
        return list_order;
    }
}

<style>
    .cart__close > a {
        height: 45px;
        width: 45px;
        background: #f2f2f2;
        border-radius: 50%;
        font-size: 18px;
        color: #111111;
        line-height: 44px;
        text-align: center;
        display: inline-block;
        font-weight: 600;
        cursor: pointer;
    }

    .custom__btn > input {
        font-size: 14px;
        color: #111111;
        font-weight: 600;
        text-transform: uppercase;
        padding: 14px 30px 12px;
        background: #f5f5f5;
    }

    .discount__content .div__custom {
        position: relative;
        width: 370px;
        display: inline-block;
    }

        .discount__content .div__custom input {
            height: 52px;
            width: 100%;
            border: 1px solid #444444;
            border-radius: 50px;
            padding-left: 30px;
            padding-right: 115px;
            font-size: 14px;
            color: #444444;
        }

        .discount__content .div__custom button {
            position: absolute;
            right: 4px;
            top: 4px;
        }

</style>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Home"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">

    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">CONGRATULATIONS</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">

                                <p style="text-align: center">
                                    Your order has been places.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">

                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>OrderId</th>
                                    <th>Create at</th>
                                    <th>Price</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    List<ItemOrders> listOrd = ListOrder(ViewBag.id);
                                }
                                @foreach (var item in listOrd)
                                {
                                    <tr>
                                        <td>@ViewBag.name</td>
                                        <td>@item.Id</td>
                                        <td>@item.Create</td>
                                        <td>@item.Price $</td>
                                        <td style="text-align:center;">
                                        <a class="btn btn-danger" href="/Cart/Detail/@item.Id">Detail</a>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/Home">Continue Shopping</a>
                    </div>
                </div>

                @*<div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn custom__btn">

                <input type="submit" class="btn btn-update" value="Update Cart">
                </div>
                </div>*@
            </div>




            @*<div class="container">
            <div class="row">
            <div class="col-lg-12">
            <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Your cart is empty</a>
            </li>

            </ul>
            <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">

            <p style="text-align: center">
            Click
            </p>

            </div>

            </div>
            </div>
            </div>
            </div>
            </div>*@

        </form>
    </div>

</section>



<!-- Shop Cart Section End -->
